.about-me
    .bio
        %h3 Robin Börjesson
        %ul
            %li Software developer at #{link_to("FrontEdge IT", "https://frontedgeit.se/")}
            %li Alumni of #{link_to("Chalmers University of Technology", "https://www.topuniversities.com/universities/chalmers-university-technology")} and #{link_to("Craft Academy", "https://www.craftacademy.se")}
        %ul
            %li I live in #{link_to("Gothenburg", "https://goo.gl/maps/xWpNcso8dv62")} together with my wife and two wonderful young boys. A few years back I started programming for fun on my spare time. I loved the instant feedback and the creative process of writing code. For that reason I decided to attend the bootcamp at Craft Academy to jump start my career in software development. This paid off as I was able to land a job at FrontEdge IT. My interests include programming, MMA and good food.

        %ul
            %li Checkout my resume #{link_to("here", "https://borjesson-resume.netlify.com/")}
    .profile-image
        %img{src: "/images/rb-profile.jpg"}
    .social-links
        %a{href: "https://www.linkedin.com/in/robin-b%C3%B6rjesson/", class: "fa fa-linkedin", target: "_blank"}
        %a{href: "https://github.com/Rinbo", class: "fa fa-github", target: "_blank"}
        %a{href: "https://www.facebook.com/robindjuret", class: "fa fa-facebook", target: "_blank"}
        %a{href: "https://twitter.com/BorjessonR", class: "fa fa-twitter", target: "_blank"}
        %a{href: "https://plus.google.com/u/0/110462434175740795086", class: "fa fa-google", target: "_blank"}
        %a{href: "https://www.instagram.com/rollebollle/", class: "fa fa-instagram", target: "_blank"}