.project-area
  - p_variable = 0
  - data.projects.each do |project|
    %div{id: "project_#{p_variable}", onclick: "openModal(#{p_variable})"}
      %a
        %div{class: "project-main", style: "background-image: url(#{project[:image]})"}
          .project-title
            = project[:name]
          .project-info
            = project[:description]
            
    %div{id: "myModal_#{p_variable}", class: "modal"}  
      .modal-content
        %span.close &times;
        %h2= project[:name].upcase
        %p= project[:long_description]
        %p= "Technologies used: #{project[:technologies]}"
        %p= link_to "Link to Github", "#{project[:github_link]}", target: '_blank'
        %p= link_to "Link to Livesite", "#{project[:link]}", target: '_blank' if !project[:link].nil?
        - p_variable +=1